@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181C14;
  --overlay: #1E201E;
  --texto: #FAF7F0;
  --destaques: #FF204E;
  --primaria: #2D3250;
  --secundaria: #424769;

  
}

body {
  font-size: 18px;
  background: var(--background);
  color: var(--texto);
}
